@font-face{
src: url("fonts/edosz.TTF");
font-family: edo;
}

@font-face{
src: url("fonts/cp.TTF");
font-family: cp;
}

@font-face{
src: url("fonts/mc.TTF");
font-family: mc;
}



#bold{
color: black;
font-weight: normal;
text-shadow: 0px 0px 0px;
font-size: 17px;
}


body{
margin: 0px;
}



.hero{
background-image: url("images/cover.png");
background-size: cover;
padding: 280px;
text-align: center;
color: white;
font-family: edo, sans-serif;
font-size: 60px;
text-shadow: 5px 5px 5px black;
}

.intro{
text-align: center;
color: #FFF8F0;
background: #D1C6AD;
padding: 50px;
margin:0px;
font-family: BBH Bogle;
font-size:20px;
text-shadow:0px 0px 3px black;
}


.game{
width: 100%;
height:800px;;
background-size: cover;
display: flex;
flex-direction:column;
justify-content: start;
align-items: center; 
}

.desc{
margin:60px;
text-align: center;
font-family: Roboto Condensed;
font-size: 20px;
}



#game-1{
background-image: url("images/dispb.gif");
background-position: center;
color: #FFEE93;
text-shadow: 2px 2px black;
}

#game-1 img{
width: 400 px;
height: 200px;
}

#game-1 a{
text-decoration: none;
color: white;
}



#game-2{
background-image: url("images/sowb.gif");
background-position:center;
color: #ADD7F6;
text-shadow: 2px 2px 5px white;
}

#game-2 img{
margin-top:40px;
margin-bottom: 0px;
width: 200 px;
height: 100px;
}

#game-2 .desc{
margin-top: 30px;
}



#game-3{
background-image: url("images/detb.gif");
background-position:center;
color: #A6E1FA;
text-shadow: 2px 2px 3px #00072D;
}

#game-3 img{
margin-top:40px;
width: 600px;
height: 150px;
}

#game-3 .desc{
margin-top: 20px;
}



#game-4{
background-image: url("images/celb.gif");
background-position:center;
}

#game-4 img{
width: 400 px;
height: 200px;
margin-top: 50px;
}

#game-4 .desc{
margin-top: 20px;
font-family: Pixelify Sans;
color: lightgrey;
text-shadow: 1px 1px black;
}



#game-5{
background-image: url("images/cpb.gif");
background-position:center;
}

#game-5 img{
margin-top: 50px;
width: 300 px;
height: 100px;
}

#game-5 .desc{
margin-top: 20px;
font-family: cp;
color: yellow;
text-shadow: 2px 2px 3px #129490;
font-size: 16px;
}

.game:hover p{
background: black;
}

.footer{
background: #3F0D12;
padding:150px;
display:flex;	
justify-content: center;
}

.author{
border-bottom: 20px solid black;
background: #A71D31;
width:500px;
display:flex;
flex-direction: column;
justify-content:center;
align-items: center;
text-align: center;
color:white;
text-shadow:2px 2px black;
font-family:Roboto Condensed
}

.author p{
margin: 0px 10px 10px 10px;
}

.author h1{
font-family: mc;
color:white;
text-shadow:2px 2px black;
margin-bottom:10px;
}

#me {
width:150px;
margin-top:20px;
border:3px solid black;
}


